<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="pain">Pain: </label>
  <input type="text" name="task[pain]" id="pain">

  <input type="submit" value="send">
</form> -->


<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :pain %>
  <%= f.text_field :pain %>

  <%= f.submit %>
<% end %>
